.root {
    -fx-background-color: #333;
}

.key {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: #444;
    -fx-text-fill: #fff;
    /*-fx-border-color: #666;*/
    /*-fx-border-width: 1px;*/
    -fx-font-size: 18px;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

.key:hover {
    /*-fx-background-color: #ddd;*/
    -fx-opacity: 0.9;
    -fx-cursor: hand;
}

.key:pressed {
    -fx-opacity: 0.7;
}

.operation {
    -fx-background-color: orange;
}

.top-operation {
    -fx-background-color: #aaa;
}

.text-field-display {
    -fx-text-fill: #fff;
    -fx-background-color: #333;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
}