.key {
    -fx-background-color: #333;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

.text-plane {
    -fx-background-color: rgb(100, 100, 100);
    -fx-background-radius: 20px;
}

.body {
    -fx-background-color: white;
}